* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.main-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: start;
  color: #fde047;
  overflow-y: hidden;
  margin-top: 50px;
}
h1 {
  font-size: 3.2em;
  line-height: 1.1;
  background-color: #064e3b;
  padding: 15px;
  border-radius: 10px;
}
.input-box {
  width: 40%;
  height: 50px;
  padding: 10px;
  font-size: large;
  border-radius: 5px;
  margin-top: 190px;
  margin-bottom: 20px;
}

.copy-btn {
  background-color: #3dd1e7;
  border: 0 solid #e5e7eb;
  box-sizing: border-box;
  color: #000000;
  display: flex;
  font-family: ui-sans-serif, system-ui, -apple-system, system-ui, "Segoe UI",
    Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 1rem;
  font-weight: 700;
  justify-content: center;
  line-height: 1.75rem;
  padding: 0.75rem 1.65rem;
  position: relative;
  text-align: center;
  text-decoration: none #000000 solid;
  text-decoration-thickness: auto;
  margin-bottom: 20px;
  width: 100%;
  max-width: 460px;
  position: relative;
  cursor: pointer;
  transform: rotate(-2deg);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.copy-btn:focus {
  outline: 0;
}

.copy-btn:after {
  content: "";
  position: absolute;
  border: 1px solid #000000;
  bottom: 4px;
  left: 4px;
  width: calc(100% - 1px);
  height: calc(100% - 1px);
}

.copy-btn:hover:after {
  bottom: 2px;
  left: 2px;
}

@media (min-width: 768px) {
  .copy-btn {
    padding: 0.75rem 3rem;
    font-size: 1.25rem;
  }
}
@media (max-width: 768px) {
  .input-box {
    width: 80%;
  }
}

.generate-btn {
  appearance: button;
  background-color: pink;
  background-image: none;
  border: 1px solid #000;
  margin-left: 10px;
  border-radius: 4px;
  box-shadow: #fff 4px 4px 0 0, #000 4px 4px 0 1px;
  box-sizing: border-box;
  color: black;
  cursor: pointer;
  display: inline-block;
  font-family: ITCAvantGardeStd-Bk, Arial, sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 20px;
  overflow: visible;
  padding: 12px 40px;
  text-align: center;
  text-transform: none;
  touch-action: manipulation;
  user-select: none;
  -webkit-user-select: none;
  vertical-align: middle;
  white-space: nowrap;
}
a {
  text-decoration: none;
  padding: 10px;
  color: #84cc16;
}
.generate-btn:focus {
  text-decoration: none;
}

.generate-btn:hover {
  text-decoration: none;
}

.generate-btn:active {
  box-shadow: rgba(0, 0, 0, 0.125) 0 3px 5px inset;
  outline: 0;
}

.generate-btn:not([disabled]):active {
  box-shadow: #fff 2px 2px 0 0, #000 2px 2px 0 1px;
  transform: translate(2px, 2px);
}
footer {
  margin-top: 40vh;
  background-color: transparent;
  color: #fde047;
  text-align: center;
}
@media (min-width: 768px) {
  .generate-btn {
    padding: 12px 50px;
  }
}
@media screen and (max-width: 480px) {
  h1 {
    font-size: 25px;
  }
  .input-box {
    width: 90%;
  }
}
